<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />
    <meta name="ROBOTS" content="all" />
    <meta name="googlebot" content="noodp" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <meta name="Copyright" content="Copyright 2008 Andrew Gwozdziewycz" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="Andrew Gwozdziewycz" />
    <link rel="alternate" title="Latest Entries Atom" href="/atom.xml" type="application/atom+xml" />
    <link rel="shortcut icon" href="/favicon.ico" />        

    <link rel="stylesheet" href="/css/screen.css" media="screen,projector" type="text/css" />
    <link rel="stylesheet" href="/css/today.css" media="screen,projector" type="text/css" />
    <title>SIGUSR2 {% block site_title %}{{ config_sub_title }}{% endblock %}</title>
</head>
<body>
  <div id="wrapper">
    <div id="header">
      <h1><a href="/" title="SIGUSR2">SIGUSR2</a></h1>
    </div>
    <div id="content-wrapper" class="clearfix">
      <div id="content">
        {% block site_content %}
        {% endblock %}
      </div>
      <div id="sidebar">
        <h2>About</h2>
        <p>
          Hi, I'm <a href="http://apgwoz.com" title="My Homepage">Andrew</a>. I sometimes use this space to write about things I'm doing related to programming.
        </p>
        <p>
          Follow me on <a href="http://identi.ca/apgwoz">Identi.ca</a> or <a href="http://twitter.com/apgwoz">Twitter</a>!
        </p>
	<h2>Inside</h2>
	<ul>
          <li><a href="/page/man.html" title="man page for signal(7)">man signal(7)</a></li>
	</ul>
        <h2>Syndicate</h2>
        <ul>
          <li><a href="/atom.xml" title="Atom Feed">Atom</a></li>
        </ul>
        <h2>Archives</h2>
        <ul>
        {% for x in site.get_archive() %}
        <li><a href="{{ x.link }}" title="{{ x.name }} ({{ x.count }})">{{ x.name }} ({{ x.count }})</a></li>
        {% endfor %}
        </ul>
        <h2>Ad Bard</h2>
        <!--Ad Bard advertisement snippet, begin -->
<script type='text/javascript'>
 var ab_h = '65997c9b7b5981e3cf2ebec769eea096';
 var ab_s = '7a46f7b695d2481693fe4724f778884a';
</script>
<script type='text/javascript' src='http://cdn1.adbard.net/js/ab1.js'></script>
<!--Ad Bard, end -->

      </div>
    </div>

    <div id="footer">
       &copy; 2009 <a href="http://apgwoz.com/">Andrew Gwozdziewycz</a>, I like bees. Powered by Modest. Not tested in IE, because it sucks.
    </div>
  </div>
{% block body_footer %}{% endblock %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-354660-9");
pageTracker._trackPageview();
</script>
</body>
</html>
